@import "tailwindcss";

@theme {
  --color-primary: #4A6EE3;
  --color-secondary: #02D1C0;
  --color-background: #ffffff;
  --color-foreground: #161737;
  --color-complementary: #FFFFFF;
  --color-shadows: #161737; 
}

:root {
  font-size: 0.9rem;
  font-family: var(--font-axiforma), sans-serif;
}

.dark{
  --color-background: #0C0D24;
  --color-complementary: #161737; 
  --color-foreground: #d9d9d9;
}

.bright{
  --color-background: #ffffff;
  --color-complementary: #d9d9d9; 
  --color-foreground: #161737;
}

.rotating-details::after{
  content: '';
  position: absolute;
  top: var(--thickness);
  bottom: var(--thickness);
  left: var(--thickness);
  right: var(--thickness);
  border-radius: 50%;
  background-color: var(--color-background);
}

.rotating-details{
  animation: rotate 10s linear infinite;
}

.rotating-details.inverted{
  animation: rotateInverted 10s linear infinite;
}

.glow-box {
  animation: pulse 2s infinite;
}

@keyframes rotate {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}


@keyframes rotateInverted {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(-360deg);
  }
}

.toggle{
  transform: translateX(0%);
  transition: 0.5s transform;
}

.toggle.active{
  transform: translateX(100%);
}